@charset "UTF-8";
body {
  margin: 0%;
  padding: 0;
}

.verbButton {
  padding: 30px;
  border: 1px solid rgb(27, 110, 140);
  border-radius: 10px;
  background-color: rgb(76, 182, 236);
  font-family: "Yeseva One";
  font-size: 40px;
  text-align: center;
  color: white;
  line-height: 1.4;
  margin: 10px;
}

.proverbButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerM {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 20px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #164a44;
  background-color: rgba(213, 172, 97, 0.3490196078);
  border: solid 1px #164a44;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.tasks__title {
  margin: 50px 20px 20px 20px;
  text-align: center;
  text-transform: uppercase;
}

.tasks__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tasks__item {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 2px dashed #b2d9d0;
  border-radius: 10px;
  cursor: move;
  background-color: #dff2ef;
  transition: background-color 0.5s;
}

.picturеНeader {
  color: #C14318;
  font-size: 25px;
}

.selected {
  opacity: 0.6;
}

.tasks__img {
  width: 100%;
}

.gif {
  width: 100%;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(70, 52, 4, 0.549);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
}

.modalDialog:target {
  display: block;
}

.modalDialog > div {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

.middle {
  position: relative;
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  display: none;
  width: 100%;
}

.btn {
  position: relative;
  display: block;
  color: #C14318;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  border: 2px solid #a24810;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
}

.btn::before {
  background: #a24810;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn1::before {
  width: 0%;
  height: 100%;
}

.btn1:hover::before {
  width: 100%;
}

.btn1:hover {
  color: #f8f5f3;
  font-weight: bold;
}

.explanations {
  display: none;
}

.indexheader {
  width: 100vw;
  height: auto;
  padding: 0;
  margin: 0;
  background-image: url(../assets/images/proverbs.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  text-align: center;
}

.text {
  font-family: "Yeseva One";
  font-size: 50px;
  text-align: center;
  color: white;
  line-height: 1.4;
  margin: 0;
  padding: 0%;
}

.wapper {
  padding-top: 56px;
  background-color: rgba(56, 50, 42, 0.775);
}

.indexheader__plus {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.indexheader__znaki {
  font-size: 136px;
  color: white;
}

.indexheader__gif {
  width: 90%;
  margin-top: auto;
  padding-top: auto;
  margin-bottom: 0%;
  padding-bottom: 0;
}

.indexabout {
  padding: 54px;
  background-image: url(../assets/images/beb95faacb6c552be300a9855f7803f7.jpg);
  text-align: center;
}

.text-about {
  font-family: "Yeseva One";
  font-size: 26px;
  text-align: center;
  color: rgb(8, 8, 8);
  line-height: 1.4;
  margin: 0;
  padding: 0%;
}

.span {
  color: rgb(150, 22, 19);
}

.indexabout__imgPortret {
  width: 90%;
  text-align: end;
}

.indexabout__imgKartina {
  width: 90%;
  text-align: center;
  margin: auto;
}

.knopka {
  justify-self: center;
  margin: auto;
}

.proverka {
  text-align: start;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20%;
}

.text-header {
  color: rgb(150, 22, 19);
  text-align: start;
}

.text-proverka {
  font-size: 26px;
  text-align: start;
  color: rgb(8, 8, 8);
  padding: 20px;
}

.strela {
  height: 26px;
}
=======
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: rgb(105, 74, 59);
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1500px;
  margin: 0px auto;
  padding: 0px 15px;
}

.composition {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  background-color: rgb(165, 146, 84);
}
.composition__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.composition__row {
  display: flex;
  justify-content: space-around;
}
.composition__title {
  color: rgb(64, 46, 37);
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
}
.composition__body {
  display: grid;
  justify-content: center;
  gap: 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 10px 0px;
}
.composition__item {
  height: 100%;
}
.composition__item img {
  width: 100%;
}
.composition__item:hover {
  box-shadow: 0px 10px 20px 5px rgb(157, 157, 133);
  box-shadow: 0px 10px 20px 5px rgb(41, 157, 124);
  transform: translateY(-5px);
}
.composition__button {
  color: rgb(105, 74, 59);
  color: rgb(71, 50, 49);
  padding: 70px 20px;
  border-radius: 37px;
  margin: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2px;
  padding: 5px 15px;
  height: 50px;
  width: 150px;
  text-decoration: none;
  letter-spacing: 0.2px;
  font-weight: bold;
  font-size: 15px;
  line-height: 105%;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(71, 50, 49);
  color: rgb(105, 74, 59);
  border: 1px solid rgb(94, 68, 66);
}
.composition__button a {
  color: rgb(248, 248, 243);
}
.composition__button:hover {
  box-shadow: 5px 5px 5px rgb(105, 74, 59);
  transition: all 0.3s ease 0s;
  background-color: rgb(153, 187, 167);
  transform: translateY(-5px);
}
.composition__button:hover a {
  color: rgb(105, 74, 59);
}

#popup {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
}
.modal__close {
  display: none;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  position: relative;
  background-color: #5b7a77;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}
.modal__image {
  display: flex;
  justify-content: center;
  width: 200px;
  z-index: 20;
}
.modal__image img {
  width: 100%;
  border-radius: 5px;
}
.modal__image:hover {
  display: block;
  transform: scale(3, 3) translate(0px, 40px);
  transition: all 0.8s ease 0s;
}
.modal__text {
  display: flex;
  align-items: center;
  height: 50px;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 25px;
  font-weight: 900;
  line-height: 57px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgb(105, 74, 59);
}
.modal__questions {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
}
.modal__questions-item {
  display: block;
  background: rgb(203, 156, 74);
  width: 900px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  overflow: hidden;
}
.modal__questions-item p {
  font-size: 18px;
}

.close-popup {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  background-color: rgb(203, 156, 74);
  color: rgb(71, 50, 49);
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.close-popup:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary {
  display: block;
  padding: 10px 30px 10px 10px;
  line-height: 20px;
  border-bottom: 1px solid #e2e8f0;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  color: rgb(71, 50, 49);
  color: rgb(105, 74, 59);
  border-bottom: none;
}

summary:before {
  top: 10px;
  right: 10px;
  color: transparent;
  background: url("../assets/images/free-icon-font-angle-down-3916886.svg") no-repeat 50% 50%/1em 1em;
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  transition: transform 0.5s;
}

details[open] > summary:before {
  transform: scale(1, -1);
  transition: all 0.3s ease 0s;
}

summary ~ * {
  padding: 0px 10px 0 10px;
}

details[open] summary ~ * {
  animation: sweep 0.9s ease-in-out;
  color: #425b69;
}

summary:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  border-bottom: none;
}/*# sourceMappingURL=index.css.map */
