@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: rgb(105, 74, 59);
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1500px;
  margin: 0px auto;
  padding: 0px 15px;
}

.composition {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  background-color: rgb(165, 146, 84);
}
.composition__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.composition__row {
  display: flex;
}
.composition__title {
  color: rgb(64, 46, 37);
  font-size: 35px;
  font-weight: bold;
  padding: 10px 20px 30px 20px;
  font-family: "Yeseva One";
  margin-right: 40px;
}
.composition__body {
  display: grid;
  justify-content: center;
  gap: 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 10px 0px;
}
.composition__item {
  height: 100%;
}
.composition__item img {
  width: 100%;
}
.composition__item:hover {
  box-shadow: 0px 10px 20px 5px rgb(157, 157, 133);
  box-shadow: 0px 10px 20px 5px rgb(41, 157, 124);
  transform: translateY(-5px);
}
.composition__link {
  position: relative;
  transform: translate(0%, 0%);
  width: 300px;
}
.composition__button {
  border-radius: 35px;
  position: relative;
  display: block;
  color: #c14318;
  color: rgb(64, 46, 37);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  border: 1px solid #a24810;
  border: 1px solid rgb(64, 46, 37);
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.composition__button:hover {
  color: #f8f5f3;
  font-weight: bold;
}
.composition__button:hover::before {
  width: 100%;
}
.composition__button::before {
  background: #a24810;
  width: 0%;
  height: 100%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
}
.modal__close {
  display: none;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  position: relative;
  background-color: #5b7a77;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}
.modal__image {
  display: flex;
  justify-content: center;
  width: 200px;
  z-index: 20;
}
.modal__image img {
  width: 100%;
  border-radius: 5px;
}
.modal__image:hover {
  display: block;
  transform: scale(3, 3) translate(0px, 40px);
  transition: all 0.8s ease 0s;
}
.modal__text {
  display: flex;
  align-items: center;
  height: 50px;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 25px;
  font-weight: 900;
  line-height: 57px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgb(105, 74, 59);
  color: rgb(64, 46, 37);
}
.modal__column-questions {
  max-height: 70vh;
  padding: 20px 0px;
  margin: 20px 0px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  z-index: 0;
  border-top: 0.2px dashed rgba(197, 204, 214, 0.2549019608);
  border-bottom: 0.2px dashed rgba(197, 204, 214, 0.2549019608);
}
.modal__column-questions::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  background: rgba(197, 204, 214, 0.2549019608);
}
.modal__column-questions::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(125, 94, 10, 0.914);
}
.modal__questions {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.modal__questions-item {
  display: block;
  background: rgb(203, 156, 74);
  width: 900px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  overflow: hidden;
}
.modal__questions-item p {
  font-size: 18px;
}

.close-popup {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  background-color: rgb(203, 156, 74);
  color: rgb(71, 50, 49);
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.close-popup:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary {
  display: block;
  padding: 10px 30px 10px 10px;
  line-height: 20px;
  border-bottom: 1px solid #e2e8f0;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  color: rgb(71, 50, 49);
  color: rgb(105, 74, 59);
  border-bottom: none;
}

summary:before {
  top: 10px;
  right: 10px;
  color: transparent;
  background: url("../assets/images/down_chevron_icon_250483.svg") no-repeat 50% 50%/1em 1em;
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  transition: transform 0.5s;
}

details[open] > summary:before {
  transform: scale(1, -1);
  transition: all 0.3s ease 0s;
}

summary ~ * {
  padding: 0px 10px 0 10px;
}

details[open] summary ~ * {
  animation: sweep 0.9s ease-in-out;
  color: #425b69;
}

summary:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  border-bottom: none;
}

@media (max-width: 1000px) {
  .modal__questions-item {
    width: 700px;
  }
  .composition__title {
    font-size: 30px;
  }
  .composition__link {
    max-width: 220px;
  }
  .composition__button {
    border-radius: 30px;
    font-size: 12px;
    margin: 30px 0px 20px 0px;
    padding: 14px 30px;
  }
}
@media (max-width: 780px) {
  .modal__questions-item {
    width: 400px;
  }
  .modal__image:hover {
    transform: scale(2, 2) translate(0px, 40px);
  }
  .composition__title {
    font-size: 25px;
    padding: 10px 10px 30px 10px;
    margin-right: 20px;
  }
  .composition__button {
    font-size: 12px;
    margin: 30px 0px 20px 0px;
    padding: 14px 25px;
  }
}
@media (max-width: 650px) {
  .composition__title {
    font-size: 20px;
    padding: 10px 10px 30px 10px;
    margin-right: 15px;
  }
  .composition__link {
    max-width: 200px;
  }
  .composition__button {
    font-size: 10px;
    margin: 20px 0px 20px 0px;
    padding: 14px 20px;
  }
}
@media (max-width: 540px) {
  .modal__questions-item {
    max-width: 300px;
  }
  .modal__text {
    font-size: 16px;
  }
  .modal__image:hover {
    transform: scale(1.6, 1.6) translate(0px, 40px);
  }
  .composition__title {
    font-size: 14px;
    margin: 0px 5px 0px 0px;
  }
  .composition__link {
    max-width: 150px;
  }
  .composition__button {
    font-size: 7px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
  }
}
@media (max-width: 400px) {
  .modal__text {
    font-size: 10px;
  }
  .modal__questions-item {
    max-width: 250px;
  }
  .modal__questions-item p {
    font-size: 16px;
  }
  .modal__form {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
  }
  .modal__image:hover {
    transform: scale(1.4, 1.4) translate(0px, 40px);
  }
  .composition__title {
    font-size: 12px;
    margin: 10px 5px 0px 0px;
    padding: 5px 5px 10px 5px;
  }
  .composition__link {
    max-width: 100px;
  }
  .composition__button {
    font-size: 6px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
  }
  summary {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .composition__title {
    font-size: 8px;
    margin: 5px 2px 0px 0px;
    padding: 5px 2px 10px 5px;
  }
  .composition__button {
    font-size: 5px;
    padding: 2px;
  }
  .modal__text {
    font-size: 8px;
  }
  .modal__questions-item {
    max-width: 200px;
  }
  .modal__form {
    max-width: 800px;
    margin: 20px 10px 10px 10px;
    padding: 10px;
  }
  .modal__image:hover {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
@media (max-width: 290px) {
  .modal__text {
    font-size: 8px;
  }
  .modal__questions-item p {
    font-size: 14px;
  }
  summary {
    font-size: 14px;
  }
}
body {
  margin: 0%;
  padding: 0;
}

.verbButton {
  padding: 30px;
  border: 1px solid rgb(27, 110, 140);
  border-radius: 10px;
  background-color: rgb(76, 182, 236);
  font-family: "Yeseva One";
  font-size: 1em;
  text-align: center;
  color: white;
  line-height: 1.4;
  margin: 10px;
}

.proverbButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.containerM {
  width: -moz-min-content;
  width: min-content;
  padding: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "Yeseva One", sans-serif;
  font-size: 1.125em;
  line-height: 25px;
  color: #164a44;
  background-color: rgba(213, 172, 97, 0.3490196078);
  border: solid 1px #164a44;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.tasks__title {
  margin: 50px 20px 20px 20px;
  text-align: center;
  text-transform: uppercase;
}

.tasks__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.tasks__item {
  transition: background-color 0.5s;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 2px dashed #b2d9d0;
  border-radius: 10px;
  cursor: move;
  background-color: #dff2ef;
  transition: background-color 0.5s;
}

.picturеНeader {
  color: #C14318;
  font-size: 1.5625em;
}

.selected {
  opacity: 0.6;
}

.tasks__img {
  width: 100%;
}

.gif {
  width: 100%;
}

.middle {
  position: relative;
  transform: translate(0%, 0%);
  display: none;
  width: 100%;
}

.btn {
  position: relative;
  display: block;
  color: #C14318;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  border: 2px solid #a24810;
  border-radius: 20px;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.btn::before {
  background: #a24810;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before {
  width: 0%;
  height: 100%;
}

.btn1:hover::before {
  width: 100%;
}

.btn1:hover {
  color: #f8f5f3;
  font-weight: bold;
}

.explanations {
  display: none;
}

.question-image {
  width: 80vh;
}

.options__container {
  display: flex;
  flex-direction: column;
}

.progress__bar_quiz {
  display: flex;
  flex-direction: row;
}

.progress__bar__item__quiz {
  padding: 3px;
  width: 5vh;
}

.progress__bar__default {
  filter: invert(79%) sepia(1%) saturate(0%) hue-rotate(153deg) brightness(85%) contrast(88%);
}

.progress-bar-colored {
  filter: invert(60%) sepia(41%) saturate(243%) hue-rotate(169deg) brightness(83%) contrast(85%);
}

.progress__bar__true__quiz {
  filter: invert(67%) sepia(34%) saturate(614%) hue-rotate(63deg) brightness(95%) contrast(97%);
}

.progress__bar__false__quiz {
  filter: invert(47%) sepia(29%) saturate(4133%) hue-rotate(333deg) brightness(94%) contrast(85%);
}

.question__desrciption__quiz {
  font-size: 1.25em;
}

.container__quiz {
  font-family: "Yeseva One", sans-serif;
  margin-top: 0;
  background-color: rgba(213, 172, 97, 0.3490196078);
}

.question__text__quiz {
  display: flex;
  flex-direction: column;
}

.tasks__item__quiz {
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 2px solid #b2d9d0;
  border-radius: 10px;
  background-color: #dff2ef;
  font-family: "Yeseva One", sans-serif;
  font-size: 1.125em;
  cursor: pointer;
  width: 80vh;
}

.tasks__item__quiz:hover {
  border: 2px solid #78d6c0;
}

.btn__quiz {
  position: relative;
  display: block;
  color: #C14318;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  border: 2px solid #a24810;
  border-radius: 20px;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.btn__quiz::before {
  background: #a24810;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn__quiz__1::before {
  width: 0%;
  height: 100%;
}

.btn__quiz__1:hover::before {
  width: 100%;
}

.btn__quiz__1:hover {
  color: #f8f5f3;
  font-weight: bold;
}

.print__result {
  background-color: rgba(213, 172, 97, 0.3490196078);
  border: solid 1px #164a44;
  padding: 20px;
  width: 300px;
  height: 250px;
  position: absolute;
  z-index: 1;
  margin-top: -150px;
  margin-left: -125px;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(213, 172, 97);
  border-radius: 10px;
}

.wrapper__quiz {
  position: relative;
  font-family: "Yeseva One", sans-serif;
  font-size: 1.125em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score__quiz {
  color: #079988;
  display: block;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.indexheader {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-image: url(/proverbs/assets/images/proverbs.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  text-align: center;
}

.text {
  font-family: "Yeseva One";
  font-size: 3.125em;
  text-align: center;
  color: white;
  line-height: 1.4;
  margin: 0;
  padding: 0%;
}

.wapper {
  padding-top: 56px;
  background-color: rgba(56, 50, 42, 0.775);
}

.indexheader__plus {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.indexheader__znaki {
  font-size: 136px;
  color: white;
}

.indexheader__gif {
  width: 90%;
  margin-top: auto;
  padding-top: auto;
  margin-bottom: 0%;
  padding-bottom: 0;
}

.indexabout {
  padding: 54px;
  background-image: url(/proverbs/assets/images/beb95faacb6c552be300a9855f7803f7.jpg);
  text-align: center;
}

.text-about {
  font-family: "Yeseva One";
  font-size: 1.625em;
  text-align: center;
  color: rgb(8, 8, 8);
  line-height: 1.4;
  margin: 0;
  padding: 0%;
}

.span {
  color: rgb(150, 22, 19);
}

.indexabout__imgPortret {
  width: 90%;
  text-align: end;
}

.indexabout__imgKartina {
  width: 90%;
  text-align: center;
  margin: auto;
}

.knopka {
  justify-self: center;
  margin: auto;
}

.proverka {
  text-align: start;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 54px;
}

.text-header {
  color: rgb(150, 22, 19);
  text-align: start;
}

.text-proverka {
  font-size: 1.625em;
  text-align: start;
  color: rgb(8, 8, 8);
  padding: 20px;
}

.strela {
  height: 26px;
}

@media (max-width: 650px) {
  .text {
    font-size: 2em;
  }
  .indexheader {
    background-size: auto 100%;
  }
  .text-about {
    font-size: 1em;
  }
  .knopka {
    width: 90%;
  }
  .text-proverka {
    font-size: 1.2em;
  }
  .proverka {
    text-align: start;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
}/*# sourceMappingURL=index.css.map */